---
layout: default
intro_banner_image: /images/website_placeholder_1.jpg
about_image: /uploads/About Mark Terriault C.jpg
hub_image: /images/The hub home cover.jpeg
speaking_image: /images/The hub home cover.jpeg
seo:
  meta-title: Mark Therriault | Leave Your Mark
  meta-description:
  social-sharing_image:
---

<!-- MAIN INTRO BANNER SECTION -->
  <section class="banner bg-image bg-fixed padded center grid editable" style="background-image:url({{page.intro_banner_image}})">
    <div class="col-12-middle">
      <h1>Mark Therriault</h1>
      <h2>Leave Your Mark</h2>
    </div>
  </section>

  <!-- INTRO/ CLICK THROUGH TO STORY SECTION -->
  <section>
  <div class="grid padded mob-padded-0">
    <div class="col-5_md-12-middle mob-order-3">
      <div class="bg-image bg-square bg-sm-square" style="background-image:url({{page.about_image}})">

      </div>
    </div>
    <div class="col-7_md-12-middle padded mob-center">
      <h2 class="text-alt editable mob-center">
        ABOUT ME
      </h2>
      <p class="editable">
        Mark Therriault joined Nicola Wealth in 2006 as an assistant. After several years of being in the same role, he eventually created his own opportunity to move up, eventually became a partner, and in less than 10 years now manages $500M helping Canadian Entrepreneurs manage their financial affairs. While it is standard that most individuals in the industry focus on just investment management, Mark has also managed to consistently be one of the top producing Insurance advisors in the country over the past few years.<br /><br />But that&rsquo;s not what makes Mark&rsquo;s story so compelling. It&rsquo;s the Journey that got him there that is, and how it led to self discovery, overcoming what felt like unsurmountable obstacles, and how he turned his greatest weaknesses into his greatest strengths.
      </p>
      <a class="button" href="/about"> Read More </a>
    </div>
  </div>
</section>

<!-- CLICK THROUGH TO SPEAKING PAGE -->
<section>
<div class="grid padded mob-padded-0 bg-light">
  <div class="col-5_md-12-middle mob-order-3">
    <div class="bg-image bg-square bg-sm-square" style="background-image:url({{page.speaking_image}})">

    </div>
  </div>
  <div class="col-7_md-12-middle padded mob-center">
    <h2 class="text-alt editable mob-center">
      SPEAKING
    </h2>
    <p class="editable">
    Looking for an unforgettable speach that will leave your people feeling empowered and inspired?

    Mark Therriault is a passionate communicator who believes that hard work, coupled with long term vision and execution, can lead to incredible outcomes. He believes everyone can accomplish whatever they want, regardless of how far fetched it might seem now, they just need a plan.

    Read more about Mark's Keynote Speaking here!
    </p>
    <a class="button" href="/speaking"> Read More </a>
  </div>
</div>
</section>

  <!-- INTRO/ CLICK THROUGH TO 'BLOG' SECTION -->
<section>
  <div class="grid-center padded mob-padded-0 bg-light ">
    <div class="col-5_md-12-middle padded right mob-center">
      <h2 class="text-alt editable">
        The Hub
      </h2>
      <h3 class="editable">
        Fuel Your Mind in
      </h3>
      <p class="editable">
        This is where I share fresh off the press tips and tricks to help you! The hub is a collective of teachings through blog posts, videos and podcasts.
      </p>
      <a class="button" href="/blog"> Read More </a>
    </div>
    <div class="col-5_md-12-middle mob-hide">
      <div class="bg-image bg-tall bg-sm-square" style="background-image:url({{page.hub_image}})">

      </div>
    </div>
  </div>
</section>

  <!-- 'WHAT'S NEW' SECTION WHICH FEATURES LATEST POSTS -->

<section class="padded-feature center grid">
  <!-- Column for blog feature heading -->
  <div class="col-12 center">
    <h2 class="text-alt editable">
      What's new
    </h2>
      <h3 class="editable">
        The latest in The Hub
      </h3>
  </div>


  {% for post in site.posts limit: 3 %}

  {% include post-list-item.html %}

  {% endfor %}

  </section>

  <!--  CTA 'how can I help you' SECTION -->
  <section class="padded center sub-section-bg bg-mid grid-center">
    <div class="col-8_sm-12-middle">
    <h2 class="editable">
      How Can I Help You?
    </h2>
    <p class="padded-1 margin-bottom-2 editable">
      Have questions? Looking to book Mark for a speaking engagement? Reach out!&nbsp;
    </p>
    <a href="/contact" class="reverse-button"> Contact </a>
  </div>
  </section>

  <!-- IG reel Light widget SECtION -->
  <section>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3c05264c104b555ab337b647e411b539.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </section>
