/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height:auto;
}

/* Utiity classes */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.padded {
  padding: 5%;
}

.padded-1 {
  padding: 1rem;
}

.padded-feature {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

.margin-bottom-1 {
  margin-bottom: 2rem;
}

.post-loop-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.bg-light {
  background-color: #E6E6E6;
}

.bg-mid {
  background-color: #909DA1;
  color: white;
}

.bg-dark {
  background-color: #262F39;
  color: white;
}
.bg-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
}

.text-light {
  color: white;
}

.text-mid {
 color: #909DA1;
}

.text-alt {
  color:#3D4D54;
}

.about-hero-bg-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
  min-height: 40rem;
}

.blog-hero-bg-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
  min-height: 40rem;
}

.hub-subheading {
  max-width: 22rem;
}

.featured-bg-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
  padding-bottom: 125%;
}

.fill-page-bg {
  min-height: 90vh;
}

.feature-section-bg {
  min-height: 70vh;
}

.sub-section-bg {
  min-height: 25rem;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid;
  color: #262F39;
  display: inline-block;
  transition: all 0.5s;
}

.button:hover {
  background-color: #262F39;
  border-color: rgb(60,60,60);
  color: white;
}

.reverse-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid;
  color: white;
  display: inline-block;
  transition: all 0.5s;
}

.reverse-button:hover {
  background-color: white;
  opacity: 30%;
  border-color: #262F39;
  color: #262F39;
  transition: all 0.5s;
}

.blog-feature-text {
  text-align: right;
}

/* Universal Styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(60, 60, 65);
}

/* section, div {
  border: 1px solid rgb(60, 60, 65);
} */

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 1rem;

}

h3 {
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

h4 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

p {
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-body h1  {
text-align: center;
font-size: 3rem;
margin-bottom: 2.5rem;
}

/* HEADER & FOOTER */
header {
  padding: 1% 5%;
}

.no-padding {
  padding: 0;
}

header a {
  padding: 0.5rem;
  text-transform: uppercase;
}

header a:hover {
  color: #909DA1;
}

header h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  transition: all 0.2s;
}

footer a:hover,
footer .fab:hover {
  color: #909DA1;

}

footer .fab {
  font-size: 2rem;
  color: white;
  transition: all 0.5s;
}
footer h2 {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  margin: 1.5rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  color: white;
  margin: 1.5rem;
}

section {
  position: relative;
}

nav a {
text-decoration: none;
}

.absolute-tag {
  position: absolute;
  bottom: -1rem;
}

/* ------  Blog Post Stying ------ */

.post-loop-item {
  color: inherit;
  text-decoration: none;
}

.post-info {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -3rem;
  padding: 1rem;
  min-height: 14rem;
}

.post-category {
  text-transform: uppercase;
  color: #AC823A;
  font-weight: 700;
}

.post-title h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: white;
}

.main-body {
  width: 60%;
}

.blog-nav a {
  text-decoration: none;
  color: white;
  padding: 2%;
  text-transform: uppercase;
}

.blog-nav a:hover {
  color: #909DA1;
  text-decoration: none;
}

.blog-heading {
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color:#3D4D54;
}

.post-bg-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
  padding-bottom: 100%;
}

/*----- BLOCKS STYLING -----*/

.p-statement {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.4;
}

.post-intro-image {
  background-size: cover;
  background-position: center;
  background-color: #909DA1;
  max-width: 100%;
  }

  .pod-image {
      background: url(images/website_placeholder_3.jpg) 50% 50% no-repeat;
      width: 700px;
      height: 700px;
    }

    /* Responsive video */
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

.max-width {
  max-width: 1000px;
  margin: auto;
}

/*---- SIDE BAR -----*/

.sidebar {
  width: 30%;
}

.sidebar > div {
  margin-bottom: 1rem;
  padding: 2rem;
}

.sidebar nav a {
  font-size: 0.9rem;
  display: block;
  margin-bottom:0.8rem;
  text-decoration: none;
}

.sidebar-line {
border-style: solid;
border-width: medium;
width: 100%;
border-bottom: #3D4D54;
}

/*----- SPACER ----*/

.page-banner {
  min-height: 18rem;
}

.page-banner h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.page-banner p {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
}

/*-------- Speaking Page Styling ------- */

.big-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* ------ BANNER -------- */

.banner {
  background-image: url('images/website_placeholder_7.jpg');
  min-height: 70vh;
  color: white;
}

.banner h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.banner h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

.speaking-banner {
  background-image: url('images/website_placeholder_Speak1.jpg');
  min-height: 70vh;
  color: white;
}

/* Contact Page Contact form */

input, textarea {
  border-style: solid;
  border: 2px solid rgb(200, 200, 205);
  padding: 0.8em;
  display: block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e67e22;
  /* featured color */
}

textarea {
  min-height: 7em;
}

input[type="submit"] {
  display: block;
}

form [class*=col-] {
  padding: 5px;
}

.email-signup input {
  width: 30%;
  display: inline-block;
  max-width: 250px;
  margin-top:1rem;
}

.email-signup .button-solid {
  padding: 0.8em;
  border-radius: 0;
  font-size: 1rem;
}

.contact-button:
  width: 100%;
}

  @media(max-width:768px) {
   .email-signup input {
     width: 100%;
     max-width: 100%;
   }
 }

/* Media Queries */

@media {

banner h1 {
 font-size: 1rem;
   }

}
