<section class="grid padded mob-flip bg-banner padding-top-0">

  <div class="col-6_sm-12-middle">
    <div class="bg-image bg-square" style="background-image:url({{block.podcast_image}})"></div>
  </div>

  <div class="col-6_sm-12-middle padded">
    <h3> {{block.sub-heading}} </h3>
    <h2 class="text-alt"> {{block.heading}} </h2>
    <a target=”_blank” class="button margin-bottom-1" href="{{block.link_url_1}}"> {{block.link-text-1}} </a>
    <a target=”_blank” class="button margin-bottom-1" href="{{block.link_url_2}}"> {{block.link-text-2}} </a>
    <p> {{block.podcast-info_html}}</p>
  </div>

</section>
