
<section>
<div class="grid padded mob-flip bg-light">
  <div class="col-6_sm-12 post-intro-image pod-image">
  </div>
  <div class="col-6_sm-12-middle padded center">
    <h3> PODCAST </h3>
    <h2 class="text-alt"> Listen To This Episode On </h2>

  <div class="col-6_sm-12-middle padded">
    <a class="button" href="#"> Apple </a>
    <a class="button" href="#"> Spotify </a>
  </div>

    <p class="padded-1"> This episode is about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</div>
</section>
