---
layout: default
---

<section class="padded">
  <h2 class="center"> {{page.title}} </h2>

<div class="grid blog-heading">

{% for post in paginator.posts %}

  {% include post-list-item.html %}

{% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<ul class="grid-spaceAround">
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</section>
