---
layout: default
---

<!--  Blog Banner  -->
<section class="center sub-section-bg bg-mid grid-center page-banner">
  <div class="col-8_sm-12-middle">
  <h1 class="editable"> The Blog </h1>
</div>
</section>

<!-- BLOG CATEGORY MENU -->
<section class="grid bg-dark">

  <nav class="col-12_sm12-middle blog-nav center padded-1">
    <a href="/blog"> All </a>
    <a href="/category/travel"> Travel </a>
    <a href="/category/motivation"> Motivation </a>
    <a href="/category/business"> Business </a>
  </nav>

</section>

<section class="padded">


<div class="grid blog-heading">

{% for post in paginator.posts %}

  {% include post-list-item.html %}

{% endfor %}

</div>


{% if paginator.total_pages > 1 %}
<div class="center col-12 padded">
  {% if paginator.previous_page %}
    <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
</div>
{% endif %}
</section>
