---
layout: default
---

<!--  Blog Banner  -->
<section class="center sub-section-bg bg-mid grid-center page-banner">
  <div class="col-8_sm-12-middle">
  <h1 class="editable"> The Blog </h1>
</div>
</section>

<!-- BLOG CATEGORY MENU -->
<section class="grid bg-dark">

  <nav class="col-12_sm12-middle blog-nav center padded-1">
    <a href="/blog"> All </a>
    <a href="/category/travel"> Travel </a>
    <a href="/category/motivation"> Motivation </a>
    <a href="/category/business"> Business </a>
  </nav>

</section>

<section class="padded">


<div class="grid blog-heading">

{% for post in paginator.posts %}

<div class="col-4_sm-6_xs-12">
<a class="padded-1 post-loop-item" href="{{post.url}}">
  <div class="post-bg-image" style="background-image:url('{{post.featured_image}}')"> </div>
</a>
  <div class="bg-dark post-info">
      <div class="post-category">
      <h3>
        {% for category in post.categories %}
          <a href="/category/{{ category | slugify }}" class="tag">
          {{ category | replace: "-", " " }}
          </a>
        {% endfor %}
      </h3>
<!-- test -->

      </div>
      <div class="post-title">
      <a href="{{post.url}}">
        <h2> {{post.title}} </h2>
      </a>
      </div>
  </div>
</div>

{% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<div class="center col-12 padded">
  {% if paginator.previous_page %}
    <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
</div>
{% endif %}
</section>
