---
layout: default
intro_banner_image: /images/website_placeholder_7.jpg
---

<!--  Post Feature Image  -->

<section class="banner sub-section bg-image center grid editable"
style="background-image:url({{page.intro_banner_image}})">
  <div class="col-12 overlay grid padded" style="background-color:{{page.banner-overlay_color}}">
    <div class="col-12-middle">
      <h1 style="color:{{page.banner-text_color}}">{{page.title}}</h1>
     </div>
  </div>

</section>

<!--- Tell your page template to use those blocks --->

<section>
  {% for block in page.page_blocks %}

    {% include blocks/{{block._id}}.html block=block %}

  {% endfor %}
</section>

<section class="grid">

  <div class="col-8_sm-12 main-body padded">
    {{content}}

  <!---- social sharing and post buttons --->
  <div class="social-share">


          <h4> Did you enoy this post? Share it on ... </h4>
          <nav>
              <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                  <i class="fab fa-twitter"></i>Twitter
              </a>
              <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                  <i class="fab fa-facebook"></i>Facebook
              </a>
          </nav>

  </div>

      <div class="prev-next center">
            {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}">&laquo;<span> {{page.previous.title}}</span></a>
            {% endif %}
            {% if page.next.url %}
              <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
      </div>
  </div>

  <div class="col-4_sm-12 sidebar padded">

        <div class="border-bottom">

          <div class="bg-image padded editable" style="background-image: url('/images/website_placeholder_7.jpg'); padding-bottom: 100%;">&nbsp;</div>

          <h4 class="editable"> Hey, I'm Mark! </h4>
          <p class="editable"> Opening about bio lalalaaaaa lorem oekmokmoewmokm inso ienfowe inwjfnewomweokm kmokemwmok isdnfijdn iwjnijniw </p>

        </div>

        <div class="border-bottom">
          <h4 class="editable">
            Recent Posts
          </h4>
          <nav class="post-list">
            {% for post in site.posts limit:4 %}
              <a href="{{post.url}}"> {{post.title}}</a>
            {% endfor %}
          </nav>
        </div>

        <div class="editable">
          <h4><a target="_blank" href="#"> See my latest something </a></h4>
          <div class="bg-image padded" style="background-image:url('/images/website_placeholder_3.jpg'); padding-bottom:100%;">&nbsp;</div>
        </div>

    </div>

</section>
